*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
}

.container{
  border: 2px solid red;
  width: 450px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  position: relative;
  border-bottom: 2px solid #EDEDED;
}

.logo{
  width: 150px;
}

.dp{
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.dp-hero{
  margin-right: 10px;
}

.post-img{
  width: 100%;
}

.info{
  display: flex;
  align-items: center;
  padding: 15px; 
}

.name{
  font-size: 1.08rem;
  font-weight: 800;
}

.location{
  font-weight: 400;
}

.icons-div{
  padding: 10px;
  display: flex;
  align-items: center;
}

.icon{
  width: 30px;
}

.likes{
  padding-left: 12px;
}

.likes-count{
  margin-bottom: 10px;
}

.hero{
  padding-bottom: 20px;
  border-bottom: 20px solid #EDEDED;
}

.comment{
  font-weight: 500;
}

.btn{
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:nth-child(2){
  margin: 0 10px;
}
.btn:active{
  transform: scale(1.2);
}

.fa-heart{
  font-size: 30px;
}
